#include <windows.h>
#include <afxres.h>
#include "resource.h"

1 RT_MANIFEST "manifest"

2 ICON VD.ico

TAB1 DIALOGEX 0, 0, 200, 220
	 FONT 9, "MS Shell Dlg"
	 STYLE DS_SHELLFONT
BEGIN
	GROUPBOX " RamDisk Configuration Tool ", IDC_STATIC, 7, 8, 185, 193
	LTEXT "Ready", ID_TEXT1, 22, 206, 200, 9
	LTEXT "Size:", ID_TEXT3, 36, 29, 45, 9
	EDITTEXT ID_EDIT1, 82, 28, 48, 12, ES_NUMBER
	AUTORADIOBUTTON "KB", ID_RB1, 135, 22, 24, 8
	AUTORADIOBUTTON "MB", ID_RB2, 135, 30, 24, 8
	AUTORADIOBUTTON "GB", ID_RB3, 135, 38, 24, 8
	AUTOCHECKBOX "Allocate Memory Dynamically", ID_CHECK1, 36, 49, 110, 15
	LTEXT "Drive Letter:", ID_TEXT4, 36, 81, 45, 9
	COMBOBOX ID_COMBO1, 82, 79, 28, 24, CBS_DROPDOWNLIST | WS_TABSTOP
	PUSHBUTTON "Unmount", ID_PBUTTON3, 127, 79, 40, 13
	LTEXT "File System:", ID_TEXT5, 36, 108, 45, 9
	COMBOBOX ID_COMBO2, 82, 106, 36, 24, CBS_DROPDOWNLIST | WS_TABSTOP
	AUTOCHECKBOX "Launch at Windows Startup", ID_CHECK2, 36, 133, 110, 15
	AUTOCHECKBOX "Create TEMP Folder", ID_CHECK3, 36, 154, 85, 15
	PUSHBUTTON "Set TEMP Variables...", ID_PBUTTON4, 36, 171, 78, 13
END

TAB2 DIALOGEX 0, 0, 200, 220
	 FONT 9, "MS Shell Dlg"
	 STYLE DS_SHELLFONT
BEGIN
	GROUPBOX " RamDisk Configuration Tool ", IDC_STATIC, 7, 8, 185, 193
	CONTROL "", IDC_STATIC, "Static", SS_GRAYFRAME, 9, 91, 181, 1
	CONTROL "", IDC_STATIC, "Static", SS_GRAYFRAME, 9, 138, 181, 1
	CONTROL "", IDC_STATIC, "Static", SS_GRAYFRAME, 9, 169, 181, 1
	LTEXT "Ready", ID_TEXT2, 22, 206, 200, 9
	LTEXT "Cluster Size:", ID_TEXT6, 18, 25, 44, 9
	COMBOBOX ID_COMBO3, 63, 23, 40, 24, CBS_DROPDOWNLIST | WS_TABSTOP
	LTEXT "Drive Label:", ID_TEXT7, 18, 42, 44, 9
	EDITTEXT ID_EDIT2, 63, 40, 52, 12, ES_AUTOHSCROLL
	AUTOCHECKBOX "Quick Format", ID_CHECK4, 128, 24, 60, 10
	AUTOCHECKBOX "Use AWE physical memory", ID_CHECK5, 18, 58, 105, 10
	PUSHBUTTON "Dynamic RamDisk Cleanup...", ID_PBUTTON9, 18, 73, 99, 13
	AUTOCHECKBOX "Use Mount Point:", ID_CHECK6, 18, 96, 70, 10
	PUSHBUTTON "Unmount", ID_PBUTTON7, 144, 95, 40, 13
	COMBOBOX ID_COMBO5, 16, 109, 150, 24, CBS_DROPDOWN | CBS_AUTOHSCROLL | CBS_SORT | WS_TABSTOP
	PUSHBUTTON "...", ID_PBUTTON8, 168, 109, 16, 13
	LTEXT "Format Mount Points through", ID_TEXT10, 18, 125, 98, 9
	EDITTEXT ID_EDIT10, 116, 124, 10, 11, ES_AUTOHSCROLL | ES_RIGHT
	LTEXT ":", IDC_STATIC, 126, 125, 4, 9
	LTEXT "Load Content from Image File or Folder:", ID_TEXT8, 18, 143, 150, 9
	EDITTEXT ID_EDIT3, 16, 152, 150, 12, ES_AUTOHSCROLL
	PUSHBUTTON "...", ID_PBUTTON1, 168, 151, 16, 13
	LTEXT "Additional Parameters:", ID_TEXT9, 18, 173, 100, 9
	EDITTEXT ID_EDIT4, 16, 182, 150, 12, ES_AUTOHSCROLL
	PUSHBUTTON "...", ID_PBUTTON2, 168, 181, 16, 13
END

VAR_DLG DIALOGEX 0, 0, 264, 177
		STYLE WS_SYSMENU | DS_SHELLFONT
		FONT 9, "MS Shell Dlg"
		CAPTION "ImDisk"
BEGIN
	GROUPBOX " TEMP Environment Variables ", IDC_STATIC, 6, 6, 252, 146
	GROUPBOX " User ", IDC_STATIC, 12, 20, 241, 40
	LTEXT "TEMP:", IDC_STATIC, 21, 32, 24, 9
	EDITTEXT ID_EDIT5, 45, 31, 203, 12, ES_AUTOHSCROLL
	LTEXT "TMP:", IDC_STATIC, 21, 46, 24, 9
	EDITTEXT ID_EDIT6, 45, 45, 203, 12, ES_AUTOHSCROLL
	GROUPBOX " System ", IDC_STATIC, 12, 64, 241, 40
	LTEXT "TEMP:", IDC_STATIC, 21, 76, 24, 9
	EDITTEXT ID_EDIT7, 45, 75, 203, 12, ES_AUTOHSCROLL
	LTEXT "TMP:", IDC_STATIC, 21, 90, 24, 9
	EDITTEXT ID_EDIT8, 45, 89, 203, 12, ES_AUTOHSCROLL
	PUSHBUTTON "Set All To:", ID_PBUTTON5, 13, 113, 44, 14
	EDITTEXT ID_EDIT9, 59, 114, 193, 12, ES_AUTOHSCROLL
	PUSHBUTTON "Set Defaults", ID_PBUTTON6, 13, 132, 50, 14
	DEFPUSHBUTTON "OK", IDOK, 170, 158, 43, 13
	PUSHBUTTON "Cancel", IDCANCEL, 217, 158, 43, 13
END

DYN_DLG DIALOGEX 0, 0, 230, 186
		STYLE WS_SYSMENU | DS_SHELLFONT
		FONT 9, "MS Shell Dlg"
		CAPTION "ImDisk"
BEGIN
	GROUPBOX " Dynamic RamDisk Cleanup Parameters ", IDC_STATIC, 6, 6, 218, 155
	LTEXT "", ID_TEXT11, 16, 22, 200, 46
	LTEXT "Minimal Amount of Data to Clean:", IDC_STATIC, 20, 70, 120, 9
	EDITTEXT ID_EDIT11, 140, 69, 21, 12, ES_NUMBER
	LTEXT "/ 1000", IDC_STATIC, 164, 70, 30, 9
	LTEXT "Minimal Time between 2 Cleanups:", IDC_STATIC, 20, 90, 120, 9
	EDITTEXT ID_EDIT12, 140, 89, 33, 12, ES_NUMBER
	LTEXT "Seconds", IDC_STATIC, 176, 90, 30, 9
	LTEXT "Security Margin:", IDC_STATIC, 20, 110, 120, 9
	EDITTEXT ID_EDIT13, 140, 109, 25, 12, ES_NUMBER
	LTEXT "MB", IDC_STATIC, 168, 110, 30, 9
	LTEXT "Maximal Activity before Cleanup:", IDC_STATIC, 20, 130, 120, 9
	EDITTEXT ID_EDIT14, 140, 129, 29, 12, ES_NUMBER
	LTEXT "MB/s", IDC_STATIC, 172, 130, 30, 9
	DEFPUSHBUTTON "OK", IDOK, 136, 167, 43, 13
	PUSHBUTTON "Cancel", IDCANCEL, 183, 167, 43, 13
END


1 VERSIONINFO
FILEVERSION 4,0,0,0
BEGIN
BLOCK "StringFileInfo"
	BEGIN
	BLOCK "040904b0"
		BEGIN
			VALUE "FileDescription", "RamDisk Configuration Tool"
			VALUE "OriginalFilename", "RamDiskUI.exe"
			VALUE "ProductName", "imdisk"
			VALUE "ProductVersion", "4.0.0.0"
		END
	END
BLOCK "VarFileInfo"
	BEGIN
		VALUE "Translation", 0x0409, 0x04B0
	END
END
